@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --primary-text: #333333;
}


body {
  color: var(--primary-text);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  user-select: none;
}

p, a, button, span, div {
  font-family: var(--font-secondary);
  user-select: none;
  font-size: 14px;
}
